#Shell ENV variables are allowed ($HOME, $USER, etc)

#The directory considered the root of the backup
#If unknown, leave as '/'
BackupRootDir=/

#Directories over MaxSize will have their subfiles and subdirectories checked instead
#Supports unsigned integer values with double letter abbreviation from KB up to and including TB
#Defaults to 5GB
MaxSize=5GB

#Files and directories that should be backed up under the BackupRoot
#Separate entries by comma
Whitelist=/home

#Files and directories that will be excluded
#Separate entries by comma
Blacklist=/home/lost+found,$HOME/.cache,$HOME/.local/share/Trash

#Directories that won't be made into a single archive, even if smaller than MaxSize
#Good for directories with constantly updating files like /bin or /home
SplitBackup=/bin,/home,$HOME

#Directories that will be made into a single archive, even if equal to or larger than MaxSize
#CollectiveBackup=

#Specify where to store backup
OutputLocation=$HOME/flexible_backup

#Which compression type should be used
#none=0, gzip=1, bzip2=2, xz=3
CompressionType=1

#Set as -# where number if between 1-9, --fast, or --best
#Supports -0 and --extreme flag with xz
#eg "-6 -e"
CompressionLevel="-6"
