#The directory the program concider the root of the backup
#If unknown, leave as '/'
BackupRootDir=/

#Files and directories that should be backed up in the BackupRoot
#Seperate entries by comma
Whitelist=/home

#Directories that won't be made into a single archive even in smaller than 5gb
#Good for folders with many files like /bin
SplinteredBackupRequired=/home

#Files and directories that will be excluded
#Seperate entries by comma
Blacklist=/home/lost+found,$HOME/.cache,$HOME/.local/share/Trash,

#Specify where files should be sent after backup
OutputLocation=$HOME/special-backup